ENV=development
PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/parkir?sslmode=disable
JWT_PRIVATE_KEY_PATH=dev-keys/jwt-private.pem
JWT_PUBLIC_KEY_PATH=dev-keys/jwt-public.pem
LOG_LEVEL=info
FRONTEND_URL=http://localhost:3000
MIGRATIONS_PATH=migrations
